# Libraries and Dependencies in Python for Data science
### Table of Contents

<div style="background-color: #cfc ; padding: 10px; border: 1px solid green;">

   <li>Pandas</li>
   <li>Numpy</li>

#### Pandas

Pandas is a name derived from 'Panel Datas' from the field of econometrics. Pandas is a python library with set of pre-bulit or pre-defined methods (classes,functions) that can be used to analyze datas. Assuming that the pandas library is installed, we will start from seeing how to import the library into your code.

In [3]:
# pandas can be imported as follows
import pandas as pd

In the above bit we used a command import to import the pandas library. The second bit, 'as pd' states that the imported pandas library can be referred using the object pd in the rest of the program. It is interesting to see what is the type of the object pd.

In [4]:
type(pd)

module

##### Guess you know it now. So that says pandas is an in-built python module.

It is usefult to know all the pre built functions and classes that are present within the pandas module. However, we will look at some important functions only.

#### Most importantly, pandas allows users to work with large data piles like Excel or csv data. Within pandas they are called dataframes.
Let's see how we can load a data file as a data frame in pandas.

In [10]:
df = pd.read_excel('./data_files/income_data.xlsx')
df.head()
print(df)

    Table with row headers in column A and column headers in rows 8 through 9, 12 through 13, 19 through 20, 26 through 27, 36 through 37, 49 through 50, 65 through 66, 75 through 76, 85 through 86, and 99 through 100  \
0                                            All Races
1                                       Characteristic
2                                                  NaN
3                                         All Families
4                                    TYPE OF RESIDENCE
5                                       Characteristic
6                                                  NaN
7                Inside metropolitan statistical areas
8                            ..Inside principal cities
9                           ..Outside principal cities
10          Outside metropolitan statistical areas (4)
11                                              REGION
12                                      Characteristic
13                                                 NaN
14                                           Northeast
15                                             Midwest
16                                               South
17                                                West
18                                      TYPE OF FAMILY
19                                      Characteristic
20                                                 NaN
21                                All Primary Families
22                            .Married-couple families
23                .Male householder, no spouse present
24              .Female householder, no spouse present
25                               Unrelated Subfamilies
26                                  AGE OF HOUSEHOLDER
27                                      Characteristic
28                                                 NaN
29                                      Under 65 years
..                                                 ...
73                              ..Four earners or more
74                              Mean number of earners
75                      WORK EXPERIENCE OF HOUSEHOLDER
76                                      Characteristic
77                                                 NaN
78                                           ....Total
79                                              Worked
80                           .Worked at full time jobs
81                                 ...50 weeks or more
82                                   ...27 to 49 weeks
83                                 ...26 weeks or less
84                           .Worked at part time jobs
85                                ...50 weeks or more
86                                  ...27 to 49 weeks
87                                ...26 weeks or less
88                                        Did not work
89               EDUCATIONAL ATTAINMENT OF HOUSEHOLDER
90                                      Characteristic
91                                                 NaN
92                        ....Total, 25 years and over
93                                 Less than 9th grade
94                       9th to 12th grade, no diploma
95         High school graduate (includes equivalency)
96                             Some college, no degree
97                                    Associate degree
98                           Bachelor's degree or more
99                                 ..Bachelor's degree
100                                  ..Master's degree
101                              ..Professional degree
102                                 ..Doctorate degree

    Unnamed: 1    Unnamed: 2         Unnamed: 3          Unnamed: 4  \
0          NaN           NaN                NaN                 NaN
1        Total  Under $5,000  $5,000 to  $9,999  $10,000 to $14,999
2          NaN           NaN                NaN                 NaN
3        83508          1941               1212                1816
4          NaN           NaN                NaN                 NaN
5        Total  Under $5,000  $5,000 to  $9,999  $10,000 to $14,999
6          NaN           NaN                NaN                 NaN
7        72000          1582                987                1531
8        24827           677                446                 733
9        47173           905                541                 798
10       11508           359                225                 285
11         NaN           NaN                NaN                 NaN
12       Total  Under $5,000  $5,000 to  $9,999  $10,000 to $14,999
13         NaN           NaN                NaN                 NaN
14       14035           291                201                 255
15       17556           233                205                 392
16       32518          1017                531                 809
17       19398           399                276                 360
18         NaN           NaN                NaN                 NaN
19       Total  Under $5,000  $5,000 to  $9,999  $10,000 to $14,999
20         NaN           NaN                NaN                 NaN
21       83508          1941               1212                1816
22       61971           701                417                 650
23        6485           191                138                 256
24       15052          1050                657                 910
25         467            73                 26                  20
26         NaN           NaN                NaN                 NaN
27       Total  Under $5,000  $5,000 to  $9,999  $10,000 to $14,999
28         NaN           NaN                NaN                 NaN
29       65067          1569                953                1430
..         ...           ...                ...                 ...
73        2178             0                  0                   0
74        1.54          0.19               0.56                0.64
75         NaN           NaN                NaN                 NaN
76       Total  Under $5,000  $5,000 to  $9,999  $10,000 to $14,999
77         NaN           NaN                NaN                 NaN
78       83508          1941               1212                1816
79       57745           236                470                 798
80       48903           105                223                 464
81       43280            41                 57                 229
82        3676             7                 52                  89
83        1946            58                115                 145
84        8842           131                246                 334
85        5225            26                 91                 191
86        1865            14                 61                  57
87        1752            91                 95                  86
88       25763          1705                742                1018
89         NaN           NaN                NaN                 NaN
90       Total  Under $5,000  $5,000 to  $9,999  $10,000 to $14,999
91         NaN           NaN                NaN                 NaN
92       80502          1767               1124                1723
93        2608           112                 69                 153
94        4497           264                239                 319
95       20288           663                357                 645
96       13436           275                198                 274
97        8923           143                 80                 135
98       30750           310                182                 198
99       18642           225                131                 139
100       9004            66                 30                  43
101       1232             5                  3                   7
102       1872            14                 17                   9

             Unnamed: 5          Unnamed: 6          Unnamed: 7  \
0                   NaN                 NaN                 NaN
1    $15,000 to $19,999  $20,000 to $24,999  $25,000 to $29,999
2                   NaN                 NaN                 NaN
3                  2055                2753                2915
4                   NaN                 NaN                 NaN
5    $15,000 to $19,999  $20,000 to $24,999  $25,000 to $29,999
6                   NaN                 NaN                 NaN
7                  1698                2206                2362
8                   706                 973                 956
9                   993                1233                1406
10                  357                 547                 553
11                  NaN                 NaN                 NaN
12   $15,000 to $19,999  $20,000 to $24,999  $25,000 to $29,999
13                  NaN                 NaN                 NaN
14                  280                 373                 457
15                  347                 538                 571
16                 1028                1205                1277
17                  400                 636                 609
18                  NaN                 NaN                 NaN
19   $15,000 to $19,999  $20,000 to $24,999  $25,000 to $29,999
20                  NaN                 NaN                 NaN
21                 2055                2753                2915
22                  866                1368                1592
23                  245                 316                 351
24                  944                1069                 972
25                   34                  51                  29
26                  NaN                 NaN                 NaN
27   $15,000 to $19,999  $20,000 to $24,999  $25,000 to $29,999
28                  NaN                 NaN                 NaN
29                 1519                1958                2023
..                  ...                 ...                 ...
73                    0                   1                   1
74                 0.75                0.83                0.89
75                  NaN                 NaN                 NaN
76   $15,000 to $19,999  $20,000 to $24,999  $25,000 to $29,999
77                  NaN                 NaN                 NaN
78                 2055                2753                2915
79                  981                1433                1483
80                  633                1039                1118
81                  427                 777                 932
82                  110                 186                 125
83                   96                  75                  61
84                  348                 394                 365
85                  208                 215                 233
86                   78                  93                  59
87                   62                  86                  73
88                 1074                1319                1432
89                  NaN                 NaN                 NaN
90   $15,000 to $19,999  $20,000 to $24,999  $25,000 to $29,999
91                  NaN                 NaN                 NaN
92                 1899                2556                2733
93                  217                 268                 206
94                  285                 365                 306
95                  662                 912                1062
96                  316                 422                 503
97                  129                 258                 264
98                  289                 332                 393
99                  224                 251                 260
100                  42                  60                 100
101                  12                   9                  13
102                  11                  13                  20

             Unnamed: 8          Unnamed: 9       ...         \
0                   NaN                 NaN       ...
1    $30,000 to $34,999  $35,000 to $39,999       ...
2                   NaN                 NaN       ...
3                  3242                3280       ...
4                   NaN                 NaN       ...
5    $30,000 to $34,999  $35,000 to $39,999       ...
6                   NaN                 NaN       ...
7                  2677                2699       ...
8                  1032                1036       ...
9                  1644                1663       ...
10                  565                 581       ...
11                  NaN                 NaN       ...
12   $30,000 to $34,999  $35,000 to $39,999       ...
13                  NaN                 NaN       ...
14                  497                 479       ...
15                  613                 629       ...
16                 1404                1397       ...
17                  728                 775       ...
18                  NaN                 NaN       ...
19   $30,000 to $34,999  $35,000 to $39,999       ...
20                  NaN                 NaN       ...
21                 3242                3280       ...
22                 1860                2043       ...
23                  364                 369       ...
24                 1018                 868       ...
25                   43                  34       ...
26                  NaN                 NaN       ...
27   $30,000 to $34,999  $35,000 to $39,999       ...
28                  NaN                 NaN       ...
29                 2240                2327       ...
..                  ...                 ...       ...
73                    6                  11       ...
74                 0.95                1.07       ...
75                  NaN                 NaN       ...
76   $30,000 to $34,999  $35,000 to $39,999       ...
77                  NaN                 NaN       ...
78                 3242                3280       ...
79                 1733                1837       ...
80                 1389                1436       ...
81                 1122                1201       ...
82                  156                 159       ...
83                  111                  76       ...
84                  344                 401       ...
85                  220                 243       ...
86                   67                  95       ...
87                   57                  64       ...
88                 1509                1443       ...
89                  NaN                 NaN       ...
90   $30,000 to $34,999  $35,000 to $39,999       ...
91                  NaN                 NaN       ...
92                 3062                3103       ...
93                  190                 175       ...
94                  327                 316       ...
95                 1148                1135       ...
96                  546                 612       ...
97                  414                 328       ...
98                  436                 537       ...
99                  318                 380       ...
100                  91                 127       ...
101                  13                  16       ...
102                  14                  14       ...

              Unnamed: 41        Unnamed: 42    Unnamed: 43  \
0                     NaN                NaN            NaN
1    $195,000 to $199,999  $200,000 and over  Median income
2                     NaN                NaN  Value\n(Dol.)
3                     509               9393          78646
4                     NaN                NaN            NaN
5    $195,000 to $199,999  $200,000 and over  Median income
6                     NaN                NaN  Value\n(Dol.)
7                     486               8904          81674
8                     151               2851          73554
9                     335               6054          86378
10                     22                489          62339
11                    NaN                NaN            NaN
12   $195,000 to $199,999  $200,000 and over  Median income
13                    NaN                NaN  Value\n(Dol.)
14                    106               2195          88486
15                    125               1706          82926
16                    149               3004          71136
17                    128               2489          81677
18                    NaN                NaN            NaN
19   $195,000 to $199,999  $200,000 and over  Median income
20                    NaN                NaN  Value\n(Dol.)
21                    509               9393          78646
22                    471               8843          93329
23                     17                283          54336
24                     20                268          40233
25                      0                  3          30010
26                    NaN                NaN            NaN
27   $195,000 to $199,999  $200,000 and over  Median income
28                    NaN                NaN  Value\n(Dol.)
29                    430               7940          83554
..                    ...                ...            ...
73                     28                648         153218
74                   2.17               2.14            (X)
75                    NaN                NaN            NaN
76   $195,000 to $199,999  $200,000 and over  Median income
77                    NaN                NaN  Value\n(Dol.)
78                    509               9393          78646
79                    443               8142          93423
80                    405               7264          97379
81                    392               6703         101021
82                     13                418          72839
83                      0                143          56758
84                     38                878          70810
85                     28                551          74503
86                      8                188          71488
87                      2                139          57826
88                     65               1252          50797
89                    NaN                NaN            NaN
90   $195,000 to $199,999  $200,000 and over  Median income
91                    NaN                NaN  Value\n(Dol.)
92                    504               9292          80305
93                      0                 36          37116
94                      1                 57          37202
95                     56                814          57627
96                     68                736          71027
97                     49                585          78502
98                    330               7064         121062
99                    201               3532         111415
100                   104               2265         131172
101                    12                585         186902
102                    12                683         158342

                Unnamed: 44    Unnamed: 45             Unnamed: 46  \
0                       NaN            NaN                     NaN
1                       NaN    Mean income                     NaN
2    Standard\nerror (Dol.)  Value\n(Dol.)  Standard\nerror (Dol.)
3                       518         106045                     690
4                       NaN            NaN                     NaN
5                       NaN    Mean income                     NaN
6    Standard\nerror (Dol.)  Value\n(Dol.)  Standard\nerror (Dol.)
7                       458         110585                     786
8                      1108         103878                    1261
9                       557         114115                     974
10                      984          77639                    1143
11                      NaN            NaN                     NaN
12                      NaN    Mean income                     NaN
13   Standard\nerror (Dol.)  Value\n(Dol.)  Standard\nerror (Dol.)
14                     1580         122859                    2015
15                     1252         105778                    1524