# Libraries and Dependencies in Python for Data science
### Table of Contents

<div style="background-color: #cfc ; padding: 10px; border: 1px solid green;">

   <li>Pandas</li>
   <li>Numpy</li>

#### Pandas

Pandas is a name derived from 'Panel Datas' from the field of econometrics. Pandas is a python library with set of pre-bulit or pre-defined methods (classes,functions) that can be used to analyze datas. Assuming that the pandas library is installed, we will start from seeing how to import the library into your code.

In [3]:
# pandas can be imported as follows
import pandas as pd

In the above bit we used a command import to import the pandas library. The second bit, 'as pd' states that the imported pandas library can be referred using the object pd in the rest of the program. It is interesting to see what is the type of the object pd.

In [4]:
type(pd)

module

##### Guess you know it now. So that says pandas is an in-built python module.

It is usefult to know all the pre built functions and classes that are present within the pandas module. However, we will look at some important functions only.

#### Most importantly, pandas allows users to work with large data piles like Excel or csv data. Within pandas they are called dataframes.
Let's see how we can load a data file as a data frame in pandas.

In [9]:
df = pd.read_excel('./data_files/income_data.xlsx')
df.head()

,"Table with row headers in column A and column headers in rows 8 through 9, 12 through 13, 19 through 20, 26 through 27, 36 through 37, 49 through 50, 65 through 66, 75 through 76, 85 through 86, and 99 through 100",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,All Races,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Characteristic,Total,"Under $5,000","$5,000 to $9,999","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999",...,"$195,000 to $199,999","$200,000 and over",Median income,NaN,Mean income,NaN,Gini ratio,NaN,Income per\nfamily member,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Value\n(Dol.),Standard\nerror (Dol.),Value\n(Dol.),Standard\nerror (Dol.),Ratio,Standard\nerror,Value\n(Dol.),Standard\nerror
3,All Families,83508,1941,1212,1816,2055,2753,2915,3242,3280,...,509,9393,78646,518,106045,690,0.452,0.0024,33799,236
4,TYPE OF RESIDENCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN